.venv
venv
_.pyc
**pycache**
.git
.github
.env
_.pem
config/firebase-service-account.json
docker-compose.yml
docker-compose.prod.yml
DEPLOYMENT_GUIDE.md
API_DOCUMENTATION.md
developmentSteps.txt
README.md
.DS_Store
.gitignore
.dockerignore
