# Django settings for erde_agro_farmapp_backend project.
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

# Database settings variables
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# AWS S3 Storage settings varibales
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_STORAGE_BUCKET_NAME=your-bucket-name
AWS_REGION_NAME=your-region

# Firebase service account key file path (downloaded from Firebase Console Service Accounts section)
FIREBASE_SERVICE_ACCOUNT_PATH=

# Satellite service configuration
# These should be same as what we have in the satellite-service
SATELLITE_SERVICE_BASE_URL=
SATELLITE_SERVICE_TIMEOUT=
SATELLITE_INTERNAL_AUTH_ISSUER=
SATELLITE_INTERNAL_AUTH_AUDIENCE=
SATELLITE_INTERNAL_AUTH_SHARED_SECRET=
SATELLITE_INTERNAL_AUTH_ALGORITHM=

# Celery configuration
CELERY_BROKER_URL=redis://localhost:6379/0