.venv/
__pycache__/
*.pyc
*.pyo
db.sqlite3
.env
*.egg-info/
dist/
build/
static/
media/

# text dummy files
developmentSteps.txt

# firebase service account key
config/firebase-service-account.json

# PEM file
*.pem